.videoPlayer {
  background-color: #000;
  width: 320px;
  height: 240px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;

  .label {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0px;
    margin-top: 0.15rem;
  }

  .error {
    color: #888;
  }
}
