body {
  background-color: #f6f8fa;
}

.time {
  color: #888;
}

.video {
  background-color: #000;
}

.idArea {
  color: #fff;
}

th {
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
}
