.videoViewer {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1000px) {
    width: 100%;

    tr {
      display: flex;
      flex-direction: column;
    }

    td {
      display: flex;
      justify-content: center;
    }
  }
}
